# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyi

# Virtual environments
.venv/
env/
venv/

# Package manager
pip-log.txt
pip-delete-this-directory.txt

# Poetry
*.lock

# Pytest
.pytest_cache/

# IPython
profile_default/
.ipynb_checkpoints/

# Jupyter
*.ipynb_checkpoints

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Python version managers
.python-version
